
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items:first baseline;
    min-height: 100vh;
}

/* Estilo para el título */
h1 {
    text-align: center;
    margin-top: 20px;
}


/* Estilo para el contenedor del formulario */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Establece el ancho máximo deseado */
    margin: 0 auto; /* Esto centrará el formulario horizontalmente */
}

/* Estilo para los campos del formulario */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de enviar */
form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el botón de enviar al pasar el mouse */
form input[type="submit"]:hover {
    background-color: #45a049;
}
